@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
    --bg-color: #242424;
    --text-color: #F9F6EF;
    --accent-color: #FFBBCC;
    --secondary-color: #333333;
    --header-bg: #333333;
    --card-bg: #333333;

    --lg-font-size: 64px;
    --md-font-size: 48px;
    --sm-font-size: 32px;
    --xs-font-size: 24px;

    --xl-gap: 64px;
    --lg-gap: 32px;
    --md-gap: 16px;
    --sm-gap: 8px;
    --xs-gap: 4px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1 {
    font-weight: 650;
    font-size: var(--lg-font-size);
}

h2{
    font-weight: 600;
    font-size: var(--md-font-size);
}

h3 {
    font-weight: 550;
    font-size: var(--sm-font-size);
}

p {
    font-weight: 300;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
}

header {
    background-color: var(--header-bg);
    padding: var(--lg-gap) var(--xs-gap);
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    padding-top: var(--xl-gap);
}

.header-content h1 {
    font-size: var(--lg-font-size);
    margin-bottom: var(--lg-gap);
    color: var(--text-color);
}

.header-content h2 {
    font-size: var(--md-font-size);
    margin-bottom: var(--lg-gap);
    color: var(--text-color);
}

.name {
    color: var(--accent-color);
    font-weight: 1000;
}

.profession {
    color: var(--accent-color);
}

.header-content p {
    font-size: var(--xs-font-size);
    margin-bottom: var(--lg-gap);
}

.btn {
    background-color: var(--accent-color);
    color: var(--bg-color);
    padding: var(--md-gap);
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn a {
    font-size: var(--sm-font-size);
}

.btn:hover {
    background-color: var(--text-color);
}

nav {
    background-color: var(--bg-color);
    padding: var(--sm-gap) 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: transform 0.5s ease;
    transform: translateY(-100%);
}

body.scrolled nav {
    transform: translateY(0);
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: var(--lg-gap);
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: var(--accent-color);
}

main {
    padding: var(--lg-gap) var(--sm-gap);
}

section {
    margin-bottom: var(--lg-gap);
}

h2 {
    font-size: var(--md-font-size);
    color: var(--accent-color);
    margin-bottom: var(--lg-gap);
    text-align: center;
}

.about {
    margin-top: var(--lg-gap);
    display: flex;
    flex-direction: column;
    gap: var(--sm-gap);
    text-align: center;
    place-items: center;
}

.about p {
    font-size: var(--xs-font-size);
    width: 80%;
}

.timeline {
    display: flex;
    flex-direction: column;
    gap: var(--md-gap);
    padding: 0 var(--sm-gap);
    align-items: center;
}

.timeline-item {
    background: var(--card-bg);
    padding: var(--md-gap);
    border-radius: 5px;
    width: 80%;
    transition: background 0.3s;
}

.timeline-item ul {
    list-style: disc;
    padding-left: var(--lg-gap);
    font-size: var(--xs-font-size);
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    gap: var(--md-gap);
    justify-content: center;
}

.project-card {
    background: var(--card-bg);
    padding: var(--md-gap);
    border-radius: 5px;
    width: 80%;
    font-size: var(--xs-font-size);
}



.project-card a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 300;
    font-size: var(--xs-font-size);
}

#link:hover {
    scale: 1.02;
    transition: 0.2s;
    cursor:pointer;
}

.skills-rating {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: var(--lg-gap);
}

.skill {
    display: flex;
    align-items: center;
    gap: var(--sm-gap);
    place-content: center;
}

.skill span {
    width: 130px;
    color: var(--text-color);
    font-size: var(--xs-font-size);
}

.rating-bar {
    background-color: #333333;
    border-radius: 5px;
    width: 60%;
    height: 10px;
    position: relative;
    overflow: hidden;
}

.rating-bar .fill {
    background-color: var(--accent-color);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    animation: shine 2s infinite;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: var(--lg-gap);
    justify-content: center;
}

.skill-category {
    text-align: center;
    background: var(--card-bg);
    padding: var(--sm-gap);
    border-radius: 5px;
    width: auto;

}

.skill-category h3 {
    color: var(--accent-color);
    margin-bottom: var(--sm-gap);
    font-weight: bold;
    font-size: var(--sm-font-size);
}

.skill-category ul {
    list-style: none;

}

.skill-category ul li {
    margin-bottom: var(--xs-gap);
    font-size: var(--xs-font-size);
}

.contact-links {
    display: flex;
    justify-content: center;
    gap: var(--lg-gap);
}

.contact-links a {
    color: var(--text-color);
    font-size: var(--sm-font-size);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.contact-links a:hover {
    color: var(--accent-color);
}

@media (max-width: 600px) {

    :root {
        --lg-font-size: 32px;
        --md-font-size: 24px;
        --sm-font-size: 16px;
        --xs-font-size: 12px;

        --lg-gap: 32px;
        --md-gap: 24px;
        --sm-gap: 16px;
        --xs-gap: 12px;
    }
    .header-content h1 {
        font-size: var(--sm-font-size);
    }

    .header-content h2 {
        font-size: var(--xs-font-size);
    }

    .header-content p {
        font-size: var(--xs-font-size);
    }

    h2 {
        font-size: var(--sm-font-size);
    }
}
