body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #f8f5f2;
    color: #4b4b4b;
}

#terminal {
    width: 80%;
    margin: 50px auto;
    background-color: #f8f5f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#output {
    min-height: 300px;
}

.command {
    color: #dca3a3;
}

.response {
    margin: 0;
}

#input-line {
    display: flex;
    align-items: center;
}

.prompt {
    margin-right: 10px;
    color: #dca3a3;
}

#input {
    background-color: transparent;
    border: none;
    outline: none;
    color: #4b4b4b;
    font-family: inherit;
    font-size: 16px;
    width: 100%;
    caret-color: transparent;
}

#input::after {
    content: '|';
    animation: blink 1s step-start infinite;
    color: #4b4b4b;
    position: absolute;
    margin-left: -10px;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.nvim {
    margin-top: 20px;
    background-color: #e4dcd5;
    color: #4b4b4b;
    padding: 10px;
    border-radius: 5px;
}

.nvim-header {
    background-color: #dcd3c6;
    padding: 5px;
    font-weight: bold;
}

.nvim-content {
    margin-top: 10px;
    white-space: pre;
    text-wrap: pretty;
}
