body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #282c34;
    color: #abb2bf;
}

h1 {
    color: #e06c75;
}

a {
    color: #61afef;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #98c379;
    text-decoration: underline;
}

#terminal {
    width: 80%;
    margin: 50px auto;
    background-color: #282c34;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#output {
    min-height: 300px;
}

.command {
    color: #e06c75;
}

.response {
    margin: 0;
}

#input-line {
    display: flex;
    align-items: center;
}

.prompt {
    margin-right: 10px;
    color: #e06c75;
}

#input {
    background-color: transparent;
    border: none;
    outline: none;
    color: #abb2bf;
    font-family: inherit;
    font-size: 16px;
    width: 100%;
    caret-color: transparent;
}

#input::after {
    content: '|';
    animation: blink 1s step-start infinite;
    color: #abb2bf;
    position: absolute;
    margin-left: -10px;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.nvim {
    margin-top: 20px;
    background-color: #3e4451;
    color: #abb2bf;
    padding: 10px;
    border-radius: 5px;
}

.nvim-header {
    background-color: #4b5263;
    padding: 5px;
    font-weight: bold;
}

.nvim-content {
    margin-top: 10px;
    white-space: pre;
    text-wrap: pretty;
}
